.admin-pages {
	h1 {
		margin: 10px 0 0;
	}

	.pages-list-id {
		float: left;
		padding-top: 6px;
		color: darken(@light-grey, 30%);
		margin-left: 50px
	}
}

.admin-pages-details {
	.page-id {
		font-size: 1.2em;
		color: darken(@light-grey, 30%);
	}
}
