<ng-include src="'views/adminHeader.html'"></ng-include>
<div class="container">
	<section class="row">
		<form role="form" class="details clearfix" name="projectDetails" novalidate>
			<div class="form-group">
				<div class="btn-group pull-right publish">
				  <button type="button" class="btn" ng-class="adminProjectsDetails.project.published ? 'btn-success' : 'btn-danger'">{{adminProjectsDetails.project.published ? 'Published' : 'Draft'}}</button>
				  <button type="button" class="btn dropdown-toggle" ng-class="adminProjectsDetails.project.published ? 'btn-success' : 'btn-danger'" data-toggle="dropdown">
				    <span class="caret"></span>
				    <span class="sr-only">Toggle Dropdown</span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a href="" ng-click="adminProjectsDetails.publish(true)">Publish</a></li>
				    <li><a href="" ng-click="adminProjectsDetails.publish(false)">Unpublish</a></li>
				  </ul>
				</div>
				<input type="text" name="title" title="Title" class="form-control" ng-model="adminProjectsDetails.project.name" placeholder="Title - Required" required>
				<input type="text" title="Permalink" name="permalink" class="form-control form-permalink" ng-model="adminProjectsDetails.project.permalink" placeholder="Permalink">
				<div name="content" title="Content" ng-model="adminProjectsDetails.project.description" placeholder="Description" required text-angular></div>
				<div class="img-upload">
					<input type="file" title="Image" name="image" class="form-control" ng-model="adminProjectsDetails.project.img" placeholder="Upload an image">
					<div class="progress" ng-show="adminProjectsDetails.project.upload">
					  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
					    60%
					  </div>
					</div>
				</div>

				<input type="text" title="Url" name="url" class="form-control" ng-model="adminProjectsDetails.project.url" placeholder="Url">
				<select name="type" title="Project Type" id="" ng-model="adminProjectsDetails.project.type" class="form-control">	
					<option value="">[Project Type - Select one]</option>
					<option value="private">Private</option>
					<option value="employer">Employer</option>
				</select>
				<input type="text" title="Tags" name="tags" class="form-control" ng-model="adminProjectsDetails.project.tags" placeholder="Tags">
				<input type="submit" class="btn btn-success pull-right" value="Save" ng-click="adminProjectsDetails.saveForm(projectDetails.$valid)" ng-disabled="projectDetails.$invalid">
				<div ng-show="adminProjectsDetails.project._id" class="btn-group pull-left delete-btn">
					<button type="button" class="btn btn-warning" ng-click="adminProjectsDetails.delete()">Delete</button>
				</div>
			</div>
		</form>
	</section>
</div>
<ng-include src="'views/footer.html'"></ng-include>