.about {
	margin: 20px 0;
}

.posts {
	padding: 0;

	li {
		list-style: none;
		margin-bottom: 30px;
	}
}

.contact {
	form {
		background: darken(@med-grey, 3%);
		padding: 10px;
		margin-bottom: 20px;
	}
}