.main-header {
	background: @dark-grey;
	color: #fff;
	text-transform: uppercase;

	nav {
		float: right;

		a {
			color: #fff;
            display: block;
            padding: 40px;
		}

		.logout a {
			color: @hl-blue;
		}

		a:hover,
		a:active {
			background: lighten(@hl-blue, 10%);
			text-decoration: none;
		}
        
        ul {
            margin: 0;
        }
        
        li {
            float: left;
            list-style: none;
            font-size: 1rem;

            
            &.active a {
                background: @hl-blue;
            }
        }
	}

	.logo {
		float: left;
        font-size: 6rem;
        line-height: 6rem;
        max-height: 100px;
        padding-top: 2px;
        
        a {
            color: lighten(@dark-grey, 15%);
        }
	}
}

@media (max-width: 600px) {
	.main-header {
		nav {
			a {
				padding: 10px;
			}
		}

		.logo {
			font-size: 3rem;
			line-height: 3rem;
			max-height: 43px;
			margin-top: -3px;
		}
	}
}